@font-face {
    font-family: Zabars;
    src: url(./fonts/zabars.ttf);
}

html,
body {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font: 16px 'Zabars', serif;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 80px;
    margin: 0 0 16px;
}


canvas {
    background-color: black;
}