@font-face {
    font-family: Zabars;
    src: url('./fonts/zabars.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    font: 16px 'Zabars', serif;
    /* overflow: hidden; */
}

.content {
    position: relative;
    height: 100%;
    width: 100%;
    background-image: url('./img/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    height: 560px;
    width: 720px;
    position: relative;
    border-radius: 16px;
}

h1 {
    background: none;
    margin: 0;
    font-size: 80px;
    font-weight: normal;
    color: rgb(56, 22, 9);
    text-align: center;
    letter-spacing: 3px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.loader-box {
    background: radial-gradient(circle at 50% 50%, #ffda00, #f3be00, #e5a400, #d58a00, #c37102, #ae5a07, #994409);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.loader {
    border: 16px solid #994409;
    /* Light grey */
    border-top: 16px solid #ffff77;
    /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 64px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.btn {
    background: linear-gradient(180deg, #ffc620, #ffc01b, #ffba15, #ffb510, #ffaf0a, #ffa906, #ffa302, #ff9d00);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #381609;
    border-color: #9a3a17;
    cursor: pointer;
}

.startscreen,
.endscreen {
    height: 480px;
    width: 720px;
    position: absolute;
    top: 80px;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}

.startscreen {
    background-image: url('./img/9_intro_outro_screens/start/startscreen_2-1.png');
}

.endscreen {
    visibility: hidden;
}

.endscreen-boss {
    background-image: url('./img/9_intro_outro_screens/game_over/lost.png');
}

.endscreen-pepe {
    background-image: url('./img/9_intro_outro_screens/game_over/winner.png');
}

.blur {
    filter: blur(4px);
}

.info {
    height: 480px;
    width: 100%;
    position: absolute;
    top: 80px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 0 32px;
    font-size: 28px;
}

.info-btn-container {
    position: relative;
    padding: 16px;

}

.info-close-btn {
    height: 32px;
    width: 32px;
    position: absolute;
    top: 16px;
    right: 0px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 50%;
}

canvas {
    background-color: black;
    display: block;
    border-radius: 16px;
}

.start-btn {
    height: 56px;
    font: 40px 'Zabars', serif;
    letter-spacing: 1px;
    margin-top: 32px;
    border-radius: 16px;
    padding: 8px 24px;
    animation: btn-puls 1s ease-in-out infinite;
}

@keyframes btn-puls {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.play-btns-container {
    width: 720px;
    position: absolute;
    bottom: 6px;
    display: flex;
    justify-content: space-between;
    padding: 0 32px;
}

.play-btns,
.info-btns {
    display: flex;
    column-gap: 24px;
}

.play-btn {
    height: 48px;
    width: 48px;
    border-radius: 50%;
}

.play-btn .img {
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.info-btns-container {
    width: 720px;
    position: absolute;
    top: 86px;
    display: flex;
    justify-content: flex-end;
    padding: 0 32px;
}

.info-btn {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.info-btn .img {
    height: 24px;
    width: 24px;
    object-fit: cover;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 550px) {
    h1 {
        display: none;
    }

    .startscreen,
    .endscreen {
        height: 100%;
        width: 100%;
    }

    canvas {
        height: 100vh;
        object-fit: contain;
    }
}